/Hmwk/Assignment_3/Gaddis_8thED_Chap4_Prob1_MinimumMaximum/build/
/Hmwk/Assignment_3/Gaddis_8thED_Chap4_Prob1_MinimumMaximum/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob2_RomanNumeralConverter/build/
/Hmwk/Assignment_3/Magic Dates/build/
/Hmwk/Assignment_3/Magic Dates/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob3_MagicDates/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob3_MagicDates/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob4_AreaofTriangles/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob4_AreaofTriangles/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob5_BodyMassIndex/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob5_BodyMassIndex/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob6_MassandWeight/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob6_MassandWeight/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob7_TimeCalculator/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob7_TimeCalculator/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob9_ChangeForaDollarGame/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob14_BankCharges/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob14_BankCharges/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob15_ShippingCharges/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob15_ShippingCharges/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob18_FatGramCalculator/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob18_FatGramCalculator/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob22_Freezing&BoilingPoints/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob22_Freezing&BoilingPoints/dist/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob4_AreaofRectangles/build/
/Hmwk/Assignment_3/Gaddis_8thEd_Chap4_Prob4_AreaofRectangles/dist/